{% extends 'base.html' %}

{% block content %}
<div>
    <section class="section">
        <div class="container">
            <div class="content">
            <h1 class="title">New Way to Search for Photos</h1>
            <p>
                Simply drag photo of you to search for your face across our image collection!
            </p>
            </div>
            <div class="control">
                <a class="button is-primary" href="./search">Start</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}
